.textcolor-button {
    cursor: pointer;
    margin-left: 30px;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 9999px;
}

.textcolor-button:hover {
    border-color: #64ceff;
}

@media (max-width: 1024px) {
    .textcolor-button {
        margin-left: 30px;
    }
}