.button {
    border: solid transparent;
    background-color: #181818;
    cursor: pointer;
    transition: border-color 0.25s;
}

.button:hover {
    border-color: #64ceff;
}
.button:focus,
.button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.copy-button {
    width: 100px;
    height: 40px;
    background-color: rgb(65, 64, 64);
    border: none;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.342);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 7px;
    position: relative;
    overflow: hidden;
    transition-duration: 0.5s;
}

.text {
    color: rgb(104, 210, 236);
    font-weight: 800;
    letter-spacing: 1.1px;
    z-index: 2;
    margin-top: 10px;
}

.svgIcon {
    z-index: 2;
    margin-top: 13px;
}

.svgIcon path {
    fill: rgb(38, 120, 197);
}

.copy-button:hover {
    color: rgb(104, 210, 236);
}

.effect {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(104, 210, 236);
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    transition-duration: 0.5s;
}

.copy-button:hover .effect {
    transform: scale(15);
    transform-origin: center;
    opacity: 1;
    transition-duration: 0.5s;
}

.copy-button:hover {
    box-shadow: 0px 0px 5px rgb(104, 210, 236), 0px 0px 10px rgb(104, 210, 236),
        0px 0px 30px rgb(104, 210, 236);
    transition-duration: 0.7s;
}

.copy-button:hover .text {
    color: rgb(65, 64, 64);
}

.copy-button:hover .svgIcon path {
    fill: rgb(65, 64, 64);
}
