.bgcolor-button {
    cursor: pointer;
    margin-left: 30px;
    border: 2px solid transparent;
    padding: 20px;
    border-radius: 9999px;
    transition: all 0.2s ease-in-out;
}

.bgcolor-button:hover {
    border-color: white;
}



@media (max-width: 1024px) {
    .bgcolor-button {
        margin-left: 30px;
    }
}
