footer {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 24px;
}

.github-logo {
    position: absolute;
    right: 50px;
    bottom: 20px;
    transition: all 0.2s ease-in-out;
}
.github-logo:hover {
    fill: white;
    transform: scale(1.1);
}
